
<ion-header>

  <ion-navbar  color="toolbar">
    <ion-title>Categories</ion-title>

  </ion-navbar>

  
</ion-header>



<ion-content class="card-background-page"  style="background-repeat: no-repeat;background-size: 100% 100%;background-color: #E6E642;">

      <ion-fab bottom right edge  style="margin-bottom:10%">
        <button ion-fab mini (click)="toBtnMagico()"><ion-icon name="star"></ion-icon></button>
        <ion-fab-list>
        </ion-fab-list>
      </ion-fab>


      <ion-slides pager full>
        <ion-slide *ngFor="let slide of slides">
          <img [src]="slide.image" class="slide-image"/>
        </ion-slide>
      </ion-slides>

   <div class="title-ppal" full ><h1 style="text-align: center;" clear >Select Category</h1>  </div>
    

  
     <ion-card *ngFor="let categoria of categorias" (click)="toSectorPage(categoria)">
       
     <img [src]="categoria.CategoriaImage" class="slide-image"/>
        <!-- Photo by modesta-zemgulyte on Unsplash-->
        <div class="card-title">  {{categoria.categoriaName}}</div>
        <div class="card-subtitle">{{categoria.listing}}</div>
    </ion-card>
    
  
     

</ion-content>
