page-categoria{

    .backgound-image {
        background-image: url('C:\Users\mateo\Desktop\login\aticologin\resources\joseph-gonzalez-110827.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        }
    
     

        .item{
        background: rgba(100, 100, 100, 0.6px);
        color: white;
        border-radius: 10px;
        }
    
    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
            height: 50px;
            width: relative;
        }

        
        ion-card.card {
        background: rgba(232, 230, 230, 0.6px);
        border-radius: 10px;    
        }

        .card-title {
            position: absolute;
            top: 15%;
            font-size: 2.0em;
            
            width: 100%;           
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
            color: #fff;
            border-bottom-color: black rgba(100, 100, 100, 0.6px);
        }
        
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 70%;
            width: 100%;
            color: #fff;
        }




        .ion-card_ppal {
            position: relative;
            top: 1px;
            text-align: center;
            height: 40px;
            width: relative;
            background: linear-gradient(1deg, rgba(350, 350, 350, 0.4px), #003046);
            border-style: solid;
            border-width: 1px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom-color: #002636 ;   

        }
        
        .title_ppal {
            position: absolute;
            top:15%;
            font-size: 1.5em;
            font-weight: bold;
            width: 100%;
            font-weight: lighter;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color:  #002636;
            border-bottom-color: black rgba(100, 100, 100, 0.6px);
        }
        


        }
        ion-slides{
            height: 200px;
            width: 100%;
        }

    

        

        
}