
<ion-header>

  <ion-navbar   hideBackButton="true" color="azul">
    <ion-title>Categorias</ion-title>

  <ion-buttons end>
    <button ion-button icon-only  (click)="showConfirm()">
      <ion-avatar>
      <ion-icon [name]="myIcon"></ion-icon>
      </ion-avatar>
    </button>
  </ion-buttons>
  </ion-navbar>
  
</ion-header>



<ion-content class="card-background-page"  style="background-image:url('https://unsplash.it/g/2200/4300?image=1067');background-repeat: no-repeat;background-size: 100% 100%;">

      <ion-fab bottom right edge  style="margin-bottom:10%">
        <button ion-fab mini (click)="toBtnMagico()"><ion-icon name="star"></ion-icon></button>
        <ion-fab-list>
        </ion-fab-list>
      </ion-fab>


      <ion-slides pager full>
        <ion-slide *ngFor="let slide of slides">
          <img [src]="slide.image" class="slide-image"/>
        </ion-slide>
      </ion-slides>

   <div full class="ion-card_ppal"> <div class="title_ppal"> Selecciona la categoria </div> </div>
    

  <div padding>
     <ion-card *ngFor="let categoria of categorias" (click)="toSectorPage(categoria)">
       
     <img [src]="categoria.img" class="slide-image"/>
        <!-- Photo by modesta-zemgulyte on Unsplash-->
        <div class="card-title">  {{categoria.nombre}}</div>
        <div class="card-subtitle">{{categoria.listing}}</div>
    </ion-card>
    
  </div>
     

</ion-content>
