

<ion-content padding style="background-image:url('assets/img/fondoMedellin.jpg');background-repeat: no-repeat;background-size: 100% 100%">

    <ion-grid>
    <ion-row justify-content-start>
    <ion-col>
       <button ion-button  small outline (click)="toCategories()">Cerrar</button>
    </ion-col>
    <ion-col>
      <!-- <button ion-button  small outline style="margin-left:50%;margin-right:5%">Atras</button> -->
    </ion-col>
  </ion-row>
    </ion-grid>
    <h1 text-center style="color:white">Bienvenido a tu asistente mágico</h1>
    <h3 text-center style="color:white;">¿Que plan tienes en mente? ¡escogelo ahora!</h3>
   


            <ion-item>
            <ion-label>Categoría</ion-label>
            <ion-select [(ngModel)]="categoriaSeleccionada" interface="action-sheet">
            <ion-option *ngFor="let categoria of categorias" value="{{categoria.id}}"  >  {{ categoria.nombre}} </ion-option>
            </ion-select>
            </ion-item>

            <ion-item>
            <ion-label>Zona</ion-label>
            <ion-select [(ngModel)]="zonaSeleccionada" interface="action-sheet">
            <ion-option *ngFor="let zona of zonas" value="{{zona.id}}"  >  {{ zona.nombre}} </ion-option>
            </ion-select>
            </ion-item>
            
            <ion-item>
            <ion-label>Género</ion-label>
            <ion-select [(ngModel)]="generoSeleccionado" interface="action-sheet">
            <ion-option *ngFor="let genero of generos" value="{{genero.nombre}}"  >  {{ genero.nombre}} </ion-option>
            </ion-select>
            </ion-item>



    <button ion-button block round outline style="margin-top:40%;margin-bottom:5%" (click)="setEstablecimientos()">Siguiente</button>
</ion-content>


