
<ion-header>

  <ion-navbar color="azul">
    <ion-title>Sectores</ion-title>
    <ion-buttons end>
    <button ion-button icon-only  (click)="showConfirm()">
      <ion-avatar>
      <ion-icon [name]="myIcon"></ion-icon>
      </ion-avatar>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content   class="card-background-page" style="background-image:url('https://unsplash.it/g/2200/4300?image=1067');background-repeat: no-repeat;background-size: 100% 100%">
  <!-- slider https://github.com/ionic-team/ionic-preview-app/tree/master/src/pages/navigation/basic -->
  
      <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
          <img [src]="slide.image" class="slide-image"/>
        </ion-slide>
      </ion-slides>

    <div full class="ion-card_ppal"> <div class="title_ppal"> Escoge un sector </div> </div>
    
<div padding>
 
  <ion-card *ngFor="let sector of sectors" (click)="nav(sector)">
     <img [src]="sector.img" class="slide-image"/>
        <!-- Photo by modesta-zemgulyte on Unsplash-->
        <div class="card-title">  {{sector.nombre}}</div>
        <div class="card-subtitle">41 Listings</div>
    </ion-card>
</div>

</ion-content>
