
    page-registro{
        
        .backgound-image {
        background-image: url('C:\Users\mateo\Desktop\login\aticologin\resources\joseph-gonzalez-110827.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        }
       ion-card.card {
        //background: rgb(232,230, 230, 0.6px);
        background: rgba(232, 230, 230, 0.3px);
        border-radius: 10px; 
    }

        .item{
         background: rgba(100, 100, 100, 0.6px);
         color: white;
        }



    }